<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <%=title %>
        <p>
            id: <%=product.id%><br/>
            titulo: <%=product.title%><br/>
            price: <%=product.price%><br/>
            <img class="product-img" src="<%=product.thumbnail %>"/><br/>
        </p>
    <%- include('../partials/footer'); %> 
  </body>
</html>

<!-- el - par importar
el = para variable
el sin nada escribis js -->