<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <%=title %>
    <% products.forEach((item)=>{ %>
        <p>
            id: <%=item.id%><br/>
            titulo: <%=item.title%><br/>
            price: <%=item.price%><br/>
            <img class="product-img" src="<%=item.thumbnail %>"/><br/>
        </p>
    <% }) %>
    <%- include('../partials/footer'); %> 
    <button id="formulario" onclick="window.location.href='http://localhost:8080/form';" >Volver al formulario</button>
  </body>
</html>

<!-- el - par importar
el = para variable
el sin nada escribis js -->